.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: papayawhip;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px 80px;
}
.card {
    text-align: left;
    vertical-align: bottom;
    background-color: cornflowerblue;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
}